body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#background {
    display:block;
    width: 50%;
    -webkit-transform: translateX(-50% translateY(-50%;
    transform: translateX(-50% translateY(-50%));
    cursor: pointer;
}
